#sidebar {
  .accounts {
    .amount{
      width: 50%;
    }
    .name{
      width: 50%;
    }
  }
}

.negative {
  background-color: $negative-color !important;
}

.positive {
  background-color: $positive-color !important;
}

.positive.new-transaction, .positive.total {
  background-color: darken($positive-color, 20) !important;
}

.negative.new-transaction, .negative.total {
  background-color: darken($negative-color, 20) !important;
}

.empty {
  background-color: $empty-color !important;
}
