#sidebar {
  .accounts {
    .amount{
      width: 50%;
    }
    .name{
      width: 50%;
    }
  }
}

.negative-text {
  color: darken($negative-color, 20);
}

.negative {
  background-color: $negative-color
}

.positive {
  background-color: $positive-color;
}

.positive.new-transaction, .positive.total {
  background-color: darken($positive-color, 20);
}

.negative.new-transaction, .negative.total {
  background-color: darken($negative-color, 20);
}

.empty {
  background-color: $empty-color;
}

.transaction.transfer {
  background-color: $transfer-color;
}

.transaction.new-transfer {
  background-color: darken($transfer-color, 20);
}
