.word-break {
  // white-space: pre-wrap;
  word-break: break-all;
}

.no-wrap {
  white-space: nowrap
}

.navbar-center {
  margin: 0 auto;
}

.navbar-inverse .navbar-brand.active {
  color: #fff;
}

.dropdown-total {
  li {
    border-top: 1px solid #ccc;
    padding: 7px 15px 5px 10px;
    &.text-muted {
      padding-top: 10px;
    }
  }
  .tooltip-inner {
    max-width: 300px !important;
  }
}

.radio, .checkbox {
  padding-left: 20px;
}

.piechart {
  width: 100%;
  height: 420px;
}

#balance-chart {
  width: 100%;
  height: 380px;
}

.datepicker {
  padding: 6px 12px !important;
}
