#invoices_list {
  .text-wrapper {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }
  .sort-links-wrapper {
    float: left;

    a {
      font-size: 16px;
      outline: 0;
      line-height: 1;
      &.sort-up {
        vertical-align: bottom;
      }
      &.sort-down {
        vertical-align: top;
      }
    }
  }

}
