// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#income-by-customers {
  height: 500px;
  width: 900px;
}

#expense-by-customers {
  height: 500px;
  width: 900px;
}
