// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#current-month-income-by-customers, #previous-month-income-by-customers,
#current-quarter-income-by-customers, #this-year-income-by-customers,
#all-time-income-by-customers {
  height: 500px;
  width: 900px;
}

#current-month-expense-by-customers, #previous-month-expense-by-customers,
#current-quarter-expense-by-customers, #this-year-expense-by-customers,
#all-time-expense-by-customers {
  height: 500px;
  width: 900px;
}
