#new_transfer_form {
  display: none;
}

.exchange-helper {
  font-size: 80%;
}
#total_balance {
  .totals {
    margin-bottom: 15px;
  }
}

.positive.new-transaction {
  background-color: darken($positive-color, 20) !important;
}

.negative.new-transaction {
  background-color: darken($negative-color, 20) !important;
}
