#new_transfer_form {
  display: none;
}

.word-break {
  white-space: pre-wrap;
  word-break: break-all;
}

.exchange-helper {
  font-size: 80%;
}
#total_balance {
  .totals {
    margin-bottom: 15px;
  }
}
