tr id=dom_id(user_organization)
  td= user_organization.user_full_name
  td= (current_user.owner_or_admin_in? current_organization) ? link_to(user_organization.role, edit_user_organization_path(user_organization), remote: true) : user_organization.role
